html, body, #map {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f9c588;
}

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('SignPainter-HouseScript.eot?#iefix') format('embedded-opentype'),  url('SignPainter-HouseScript.otf')  format('opentype'),
	     url('SignPainter-HouseScript.woff') format('woff'), url('SignPainter-HouseScript.ttf')  format('truetype'), url('SignPainter-HouseScript.svg#SignPainter-HouseScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* -------- Changes styling of all hyperlinks --------- */

a {
    font-family: Helvetica Neue;
    color: #bd9ac7;
    text-decoration: none;
}

/* -------- Splash Scren --------- */

#splash {
    background-color: #bd9ac7;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

#loaderhold {
    width: 20%;
    text-align: center;
    margin-top: 30%;
}

#loadinghold {
    background-color: #FFFFFF;
    display: none;
    width: 100%;
    height: 150%;
    opacity: 0.6;
    position: fixed;
    z-index: 2;
    text-align: center;
}

#logocont {
    width: 40%;
    text-align: center;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;  
}

.splashlogo {
    width: 100%;
}

.loader {
    width: 20%;
}

/* -------- Map Page --------- */

#map {
    z-index: 0;
    position: relative;
}

/* -------- Order Page --------- */

#orderpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f9c588;
    position: fixed;
    display: none;
}

#ordernavig {
    margin-top: 15px;
    width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 15pt;
    font-weight: bold;
    font-family: Helvetica Neue;
    color: #FFFFFF;
    text-align: center;
}

#prevordercont {
    width: 30px;
    float: left;
    margin-left: 22.5%;
    margin-top: 18px;
}

#nextordercont {
    width: 30px;
    float: left;
    margin-top: 18px;
}

#prevorderbut {
    width: 100%;
    display: none;
}

#nextorderbut {
    width: 100%;
    display: none;
}
    
#currentorders {
    display: none;   
}

#statuscup {
    width: 50px;
}

#instructorder {
    width: 75%;
    margin-top: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    font-weight: bold;
    font-family: Helvetica Neue;
    color: #FFFFFF;
}

#noorders {
    width: 70%;
    text-align: center;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 18pt;
    color: #FFFFFF;
    background-color: #bd9ac7;
    border-style: solid;
    border-width: 4px;
    border-color: #755b7d;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#pastbutcont {
    width: 60%;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

#orderstitletext {
    width: 50%;
    text-align: center;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
}

#noorderscont {
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    width: 75%;
    height: 40vh;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

#orderscont {
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    width: 75%;
    height: 60vh;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: SignPainter-HouseScript;
    font-size: 30pt;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #bd9ac7;
    border-style: solid;
    border-width: 4px;
    border-color: #755b7d;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pastbut {
    margin-top: 12px;
    width: 100%;
}

.spill {
    width: 100%;   
}

.yourorders {
    width: 100%;   
}

#leftorderinfo {
    font-family: Helvetica Neue;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 4vw;
    width: 1%;
    float: left;
    text-align: left;
}

#rightorderinfo {
    font-family: SignPainter-HouseScript;
    margin-right: -5px;
    float: right;
    margin-top: 40px;
    font-size: 25pt;
    width: 70%;
    text-align: left;
}

#leftorderitems {
    font-family: Helvetica Neue;
    font-size: 20pt;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 4vw;
    width: 65%;
    float: left;
    text-align: left;
}

#rightorderitems {
    font-family: Helvetica Neue;
    font-size: 20pt;
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    font-size: 4vw;
    width: 25%;
    text-align: right;
}

#leftordertotal {
    font-family: Helvetica Neue;
    font-size: 20pt;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 4vw;
    width: 60%;
    float: left;
    text-align: left;
}

#rightordertotal {
    font-family: Helvetica Neue;
    font-size: 20pt;
    margin-right: 10px;
    float: right;
    margin-top: 5px;
    font-size: 4vw;
    width: 30%;
    text-align: right;
}

.dividerorder {
    height: 2px;
    width: 90%;
    padding: 0px;
    float: left;
    margin-left: 5%;
    display: block;
    background-color: #FFFFFF;
}

.dividerorder2 {
    height: 2px;
    width: 90%;
    padding: 0px;
    margin-top: 10px;
    float: left;
    margin-left: 5%;
    display: block;
    background-color: #FFFFFF;
}


#itemstitle {
    font-family: Helvetica Neue;
    font-size: 16pt;
    margin-top: 20px;
    float: left;
    width: 100%;
    text-align: center;
}

/* -------- Info Page --------- */

#signinbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: -6vw;
    min-height: 240px;
    width: 80%;
    height: 40vh;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica Neue;
    font-size: 14pt;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #bd9ac7;
    border-style: solid;
    border-width: 4px;
    border-color: #755b7d;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#registerbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: -6vw;
    width: 80%;
    height: 15vh;
    min-height: 102px;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica Neue;
    font-size: 14pt;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #bd9ac7;
    border-style: solid;
    border-width: 4px;
    border-color: #755b7d;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#registerpagebox {
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6vw;
    width: 80%;
    height: 70vh;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica Neue;
    font-size: 14pt;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #bd9ac7;
    border-style: solid;
    border-width: 4px;
    border-color: #755b7d;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


#infopage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f9c588;
    position: fixed;
    display: none;
}

#profilepic {
    width: 100%; 
}

#profilepiccont {
    margin-left: 15vw;
    margin-top: 1vw;
    width: 30vw;
    position: fixed;
    display: block;
}

#bean {
    width: 100%;
}

#beancont {
    margin-left: 30vw;
    margin-top: 38vw;
    width: 6vw;
    position: fixed;
    display: block; 
}

#rewardsbut {
    width: 100%;
}

#rewardscont {
    margin-left: 11vw;
    margin-top: 53vw;
    width: 32vw;
    position: fixed;
    display: block; 
}

#paymentbut {
    width: 100%;
}

#paymentcont {
    margin-left: 58vw;
    margin-top: 53vw;
    width: 32vw;
    position: fixed;
    display: block; 
}


#profilename {
    font-family: SignPainter-HouseScript;
    font-size: 45pt;
    color: #FFFFFF;
    margin-left: 50vw;
    margin-top: 10vw;
    position: fixed;
    text-align: left;
    text-shadow: -1px 0 #755b7d, 0 1px #755b7d, 1px 0 #755b7d, 0 -1px #755b7d;
}

#beanstext {
    font-family: SignPainter-HouseScript;
    font-size: 30pt;
    color: #FFFFFF;
    margin-left: 40vw;
    margin-top: 38vw;
    position: fixed;
    text-align: left;
}

#rewardstext {
    font-family: SignPainter-HouseScript;
    font-size: 30pt;
    color: #FFFFFF;
    margin-left: 13vw;
    margin-top: 85vw;
    position: fixed;
    text-align: left;
}

#paymenttext {
    font-family: SignPainter-HouseScript;
    font-size: 30pt;
    color: #FFFFFF;
    margin-left: 60vw;
    margin-top: 85vw;
    position: fixed;
    text-align: left;
}

#logoutbutcont {
    width: 60vw;
    position: fixed;
    margin-left: 20vw;
    margin-top: 110vw;
}

#logoutbut {
    width: 100%;
}

#loginbut {
    width: 20vw;
}

#nextbut {
    width: 20vw;
}

#registerpagebut {
    width: 20vw;
}

#registerbut {
    margin-top: 10px;
    width: 20vw;
}

#formregisterpagebut {
    display: none;
}

#formloginbut {
    display: none;
}

#formnextbut {
    display: none;
}

#formregisterbut {
    display: none;
}

#formregisterbutmenu {
    display: none;
}

.forminputs {
    font-family: Arial;
    font-weight: bold;
    font-size: 12pt;
    padding-left: 5px;
    color: #755b7d;
    background-color: #FFFFFF;
    margin-left: 10px;
    width: 80%;
    height: 7vw;
    border-style: solid;
    border-width: 3px;
    border-color: #755b7d;
    border-radius: 10px;
    margin-top: 2px;
    -webkit-appearance: none;
}

.forminputslight {
    font-family: Arial;
    font-weight: bold;
    font-size: 12pt;
    padding-left: 5px;
    color: #bd9ac7;
    background-color: #FFFFFF;
    margin-left: 10px;
    width: 80%;
    height: 7vw;
    border-style: solid;
    border-width: 3px;
    border-color: #bd9ac7;
    border-radius: 10px;
    margin-top: 2px;
    -webkit-appearance: none;
}

#signintitle {
    width: 32vw;
    margin-left: auto;
    margin-right: auto;
}

#signinimg {
    width: 100%;
}

#registertitlediv {
    width: 36vw;
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
}

#registertitledivtwo {
    width: 36vw;
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
}

#registerimgtwo {
    margin-top: 3vw;
    width: 100%;
}

#registerimg {
    width: 100%;
}

#loggedin {
    display: none;
    font-size: 4vw;
    margin-top: 90px;
    text-align: center;
    font-family: Helvetica Neue;
    color: #FFFFFF;
}

#signindiv {
    font-size: 4vw;
    margin-top: 90px;
    text-align: center;
    font-family: Helvetica Neue;
    color: #FFFFFF;
}

#registertitle {
    font-size: 6vw;
    text-align: center;
    font-family: Helvetica Neue;
    color: #FFFFFF;
}

#registerdiv {
    font-size: 4vw;
    margin-top: 90px;
    text-align: center;
    font-family: Helvetica Neue;
    color: #FFFFFF;
    display: none;
}

#registertitle2 {
    font-size: 6vw;
    text-align: center;
    font-family: Helvetica Neue;
    color: #FFFFFF;
}

#registerpagetwo {
    font-size: 4vw;
    margin-top: 10px;
    text-align: center;
    font-family: Helvetica Neue;
    color: #FFFFFF;
    display: none;
}

#formstatus {
    font-size: 4vw;
    text-align: center;
    font-family: Helvetica Neue;
    color: red;
    display: none;
}

/* -------- Menu Page --------- */

#signinformenu {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 12.5%;
    width: 75%;
    height: 80%;
    display: none;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica Neue;
    color: #bd9ac7;
    text-decoration: none;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 6px;
    border-color: #bd9ac7;
    border-radius: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#lightboxmenu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #FFFFFF;
    opacity: 0.7;
    width: 100%;
    height: 150%;
    display: none;
}

#backfrompopupsignin {
    width: 60px;
    display: block;
    float: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 10px;
}

#signintextmenucont {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#signintextmenu {
    width: 100%;
}

#noaccount {
    color: #755b7d;
}

#formloginbutmenu {
    display: none;
}

#loginbutmenu {
    width: 20vw;
}

#mustsignintext {
    margin-left: auto;
    margin-right: auto;
    width: 55vw;   
}

#registertitledivmenu {
    width: 36vw;
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
}

#registerbutmenu {
    width: 50vw;
}

#registerimgmenu {
    width: 100%;
}

#menupage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f9c588;
    display: none;
    float: left;
}

.backbut {
    width: 60px;
    display: block;
    float: left;
    position: absolute;
    top: 70px;
    margin-left: 20px;
}

#backfrompopup {
    width: 60px;
    display: block;
    float: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 10px;
}

#shopheader {
    margin-top: 60px;
    width: 100%;
    max-height: 250px;
    display: block;
}

.titleoverlay {
    height: 50px;
    width: 100%;
    margin-top: -50px;
    background-color: #bd9ac7;
    opacity: 0.6;
    display: block;
    float: left;
}

#shoptitletext {
    font-family: 'SignPainter-HouseScript', Arial, sans-serif;
    font-size: 34pt;
    text-shadow: -1px 0 #755b7d, 0 1px #755b7d, 1px 0 #755b7d, 0 -1px #755b7d;
    color: #FFFFFF;
    margin-top: -45px;
    margin-left: 10px;
    position: relative;
    float: left;

}

.categorycontainer {
    width: 50%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
}

.menucategory {
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
}

.menucatoverlay {
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0;
    background-color: #bd9ac7;
    opacity: 0.7;
    margin-top: -40px;
    display: block;
    float: left;
}

.menucattext {
    font-family: Helvetica Neue;
    font-size: 18pt;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: -35px;
    position: relative;
    display: block;
    float: left;
}

#previousorderscont {
    height: 60px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    position: fixed;
    background-color: #bd9ac7;
    bottom: 0px;
    display: none;
}

#previousorderstext {
    width: 100%;
    font-family: Arial;
    font-weight: bold;
    font-size: 24pt;
    -webkit-text-stroke: 1px #755b7d;
    color: #FFFFFF;
    text-align: center;
    position: fixed; 
    bottom: 10px;
    display: none;
}

/* -------- Menu Page 2 --------- */

.menuitemcont {
    height: 50px;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: #95d2e7;
    opacity: 1;
    display: block;
    float: left;
}

.menuitemtext {
    font-family: Helvetica Neue;
    font-size: 20pt;
    color: #FFFFFF;
    margin-top: -40px;
    margin-left: 10px;
    display: block;
    position: relative; 
    float: left;
}

.menuitemprice {
    font-family: Helvetica Neue;
    font-size: 20pt;
    color: #FFFFFF;
    margin-top: -40px;
    margin-right: 10px;
    display: block;
    position: relative; 
    float: right;
}

.divider {
    height: 1px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
    background-color: #FFFFFF;
}



#menuitem {
    display: none;   
}

/* -------- Menu Bar --------- */

.menuitem {
    position: fixed;
    z-index: 2;
}

#menubar {
    width: 100%;
    height:60px;
    background-color: #bd9ac7;
    position: fixed;
    z-index: 1;
}

.infobutton {
    right: 10%;
}

.mapbutton {
    left: 10%;
}

.ordersbutton {
    width: 100%;
    z-index: 0;
    display: inline;
    text-align: center;
}

/* -------- Routing Itinerary -------- */

.leaflet-routing-container-hide {
    display: none;
}

/* -------- Popup Box -------- */

.popup {
    width: 100%;
    height: 80%; 
    max-height: 400px;
    position: fixed;
    display: none;
    padding-left: 30px;
    animation-name: animationpopuptext;
    animation-duration: 0.3s;
}

#gotomenubuttoncont {
    display: inline;
}

#popupbackground {
    z-index: 2;
    bottom: -50px;
    max-height: 400px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-style: solid;
    border-width: 6px;
    border-color: #bd9ac7;
    border-radius: 50px;
    box-sizing: border-box;
    animation-name: animationpopupback;
    animation-duration: 0.3s;
}

#popuplightbox {
    height: 100%;
    top: 60px;
    z-index: 1;
}

/* -------- Animations --------- */
         
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeinlightbox {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slideleft {
0%   {left:0px; opacity:1;}
100% {transform: translate3d(-100%,0,0); opacity:0;}
}

@keyframes slidein {
0%   {transform: translate3d(100%,0,0); opacity:0;}
100% {transform: translate3d(0px,0,0); opacity:1;}
}

@keyframes animationpopuptext {
    0%   {transform: translate3d(0,450px,0);}
    100% {transform: translate3d(0,0px,0);}
}

@keyframes animationpopupback {
    0%   {transform: translate3d(0,450px,0);}
    100% {transform: translate3d(0,0px,0);}
}

@keyframes animationpopuptextclose {
    0%   {transform: translate3d(0,0px,0);}
    100% {transform: translate3d(0,450px,0);}
}

@keyframes animationpopupbackclose {
    0%   {transform: translate3d(0,0px,0);}
    100% {transform: translate3d(0,450px,0);}
}



/* -------- Contents of popup -------- */

.icons {
    height: 40px;
    margin-top: 5px;
}

.firsticon {
    margin-top: -15px;   
}

#textinpopup {
    z-index: 3;
    bottom: -80px;
}

#popuplightbox {
    height: 100%;
    top: 60px;
    z-index: 1;
}

.subtext {
    font-family: Helvetica Neue;
    font-size: 20pt;
    color: #bd9ac7; 
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
}

.firstsubtext {
    margin-top: -10px;
}

#coffeeshopname {
    margin-top: -5px;
}

#shopnamefont {
    font-family: 'SignPainter-HouseScript', Arial, sans-serif;
    font-size: 38pt;
    color: #bd9ac7;
}

#addressline {
    margin-top: -22px;
    font-family: Helvetica Neue;
    font-size: 16pt;
    color: #bd9ac7;
}

.menuitemimg{
    height: 50px;
}

.menuitembut{
    top: 10px;
    position: fixed;
    z-index: 2;   
}

/* Ordering Popup Lightbox */

#lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #FFFFFF;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: none;
}

#orderingbox {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 12.5%;
    width: 75%;
    height: 80%;
    display: none;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica Neue;
    color: #bd9ac7;
    text-decoration: none;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 6px;
    border-color: #bd9ac7;
    border-radius: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#qtysubmit {
    display: none;
}

#orderitem {
    margin-left: 10px;
    margin-top: 60px;
    font-size: 5vw;
    width: 40%;
    float: left;
    text-align: left;
}

#orderitem2 {
    margin-right: 10px;
    float: right;
    margin-top: 60px;
    font-size: 5vw;
    width: 50%;
    text-align: right;
}

#leftcontitems {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 4vw;
    width: 60%;
    float: left;
    text-align: left;
}

#rightcontitems {
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    font-size: 4vw;
    width: 30%;
    text-align: right;
}

#currentorder {
    margin-left: 1vw;
    margin-top: 20px;
    width: 65vw;
    max-height: 185px;
    overflow: scroll;
    padding: 5px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    border-color: #bd9ac7;
    border-radius: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#itemscontainer {
    float: left;
    width: 67vw;
    display: block;
    max-height: 20vh;
    overflow: scroll;
}

.currentorderitem {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 4vw;
    width: 100%;
    float: left;
    text-align: left;
}

.currentorderitem2 {
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    font-size: 4vw;
    width: 100%;
    text-align: right;
}

#qtydrop {
    width: 15vw;
    font-family: Helvetica Neue;
    font-size: 3vw;
    color: #bd9ac7;
    height: 5vw;
    min-height: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: #bd9ac7;
    border-radius: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

#addorderbut {
    margin-top: 15px;
    width: 200px;
}

#orderbut {
    margin-top: 15px;
    width: 200px;
}

#endofordercont{
    width : 1px;
    height: 1px;
    background-color: #FFFFFF;
}

#ordertitle {
    margin-top: 10px;
    font-weight: bold;
    font-size: 6vw;
}

#ordersubtitle {
    font-size: 4vw;
}

#orderempty {
    margin-top: 15px;
    color: #adadad;
    font-size: 3vw;
}

/* --------- Screen smaller than 500px ----------- */

@media only screen and (max-width: 500px) {

.menuitemimg {
    height: 40px;
}

#menubar {
    height: 50px;
}
    
#shopheader {
    margin-top: 50px;
}
    
#addressline {
    font-size: 4vmin;
    margin-top: -8%;
}
    
#coffeeshopname {
    font-size: 7vmin;
}
    
.subtext {
    font-size: 5.5vmin;
}

.icons {
    height: 10%;
}
    
}