html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('SignPainter-HouseScript.eot?#iefix') format('embedded-opentype'),  url('SignPainter-HouseScript.otf')  format('opentype'),
	     url('SignPainter-HouseScript.woff') format('woff'), url('SignPainter-HouseScript.ttf')  format('truetype'), url('SignPainter-HouseScript.svg#SignPainter-HouseScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: none;
}

.generaltext {
    font-family: Arial;
    color: #FFFFFF;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#loginstatus {
    font-family: Arial;
    color: red;
}

#registerstatus {
    font-family: Arial;
    color: red;
}

.menuitem {
    position: fixed;
    z-index: 2;
}

#menubar {
    width: 100%;
    height:60px;
    background-color: #bd9ac7;
    position: fixed;
    z-index: 1;
    display: none;
}

.menuitemimg{
    height: 50px;
}

.menuitembut{
    top: 10px;
    position: fixed;
    z-index: 2;   
}

.infobutton {
    right: 20%;
}

.ordersbutton {
    left: 20%;
}

#loginpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #bd9ac7;
    position: fixed;
    display: block;
    text-align: center;
}

#passwordchangepage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #bd9ac7;
    position: fixed;
    display: none;
    text-align: center;
}

#registerpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #bd9ac7;
    position: fixed;
    display: none;
    text-align: center;
}

#orderpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f9c588;
    position: fixed;
    display: none;
}

.logo {
    margin-top: 100px;
    height: 200px;
}

/* -------- Order Page --------- */

#orders {
    margin-top: 60px;
}

#noorders {
    width: 70%;
    text-align: center;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 18pt;
    color: #FFFFFF;
    background-color: #bd9ac7;
    border-style: solid;
    border-width: 4px;
    border-color: #755b7d;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.spill {
    width: 100%;   
}

.activeorder {
    height: 60px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
    background-color: #8fd4ec;
}

.orderdetails {
    font-family: Helvetica Neue;
    font-size: 12pt;
    color: #755b7d;
/*    height: 100px;*/
    width: 100%;
    padding-bottom: 12vw;
    margin: 0;
    display: none;
    float: left;
    background-color: #8fd4ec;
}

.userIdSubmit {
    display: none;
}

.orderdetailsordertext {
    margin-left: 5vw;
    width: 90vw;
    padding: 5px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    border-color: #bd9ac7;
    border-radius: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.orderbuttonscont {
    margin-top: -10vw;
    margin-left: 5vw;
    display: none;
    width: 90vw;
    position: relative; 
    float: left;
}

.readybut {
    display: none;
}

.orderbutton {
    width: 25vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.activeordername {
    font-family: Helvetica Neue;
    font-size: 17pt;
    color: #FFFFFF;
    margin-top: -55px;
    margin-left: 20px;
    display: block;
    position: relative; 
    float: left;
}

.activeorderstatus {
    font-family: Helvetica Neue;
    font-size: 13pt;
    color: #FFFFFF;
    margin-top: -27px;
    margin-left: 20px;
    display: block;
    position: relative; 
    float: left;
}

.downbut {
    width: 40px;
    margin-top: -50px;
    margin-right: 10px;
    display: block;
    position: relative; 
    float: right;
}

.upbut {
    width: 40px;
    margin-top: -50px;
    margin-right: 10px;
    display: none;
    position: relative; 
    float: right;
}

/* -------- Info Page --------- */

#infopage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f9cf9f;
    float: left;
    display: none;
}

#shopimage {
    margin-top: 60px;
    width: 100%;
    max-height: 250px;
    display: block;
}

#shoptitletext {
    font-family: 'SignPainter-HouseScript', Arial, sans-serif;
    font-size: 34pt;
    text-shadow: -1px 0 #755b7d, 0 1px #755b7d, 1px 0 #755b7d, 0 -1px #755b7d;
    color: #FFFFFF;
    margin-top: -45px;
    margin-left: 10px;
    position: relative;
    float: left;
}

.titleoverlay {
    height: 50px;
    width: 100%;
    margin-top: -50px;
    background-color: #bd9ac7;
    opacity: 0.6;
    display: block;
    float: left;
}

.menuitemcont {
    height: 60px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
}

.menuitemblue {
    background-color: #8fd4ec;
}

.menuitemorange {
    background-color: #8fd4ec;
}

#logoutbutcont {
    position: fixed;
    width: 60vw;
    margin-left: 20vw;
    bottom: 5vw;
}

#logoutbutcontorders {
    position: fixed;
    margin-top: 20px;
    width: 60vw;
}

.logoutbut {
    width: 100%;
}

.menuitemtext {
    font-family: Helvetica Neue;
    font-size: 20pt;
    color: #FFFFFF;
    margin-top: -45px;
    margin-left: 56px;
    display: block;
    position: relative; 
    float: left;
}

.menuitemdrinks {
        margin-left: 10px;
}

.pastorderscont {
    height: 60px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    position: fixed;
    background-color: #bd9ac7;
    bottom: 0px;
}

.pastorderstext {
    font-family: Arial;
    font-weight: bold;
    font-size: 28pt;
    -webkit-text-stroke: 1px #755b7d;
    color: #FFFFFF;
    margin-left: 20%;
    position: fixed; 
    bottom: 10px;
}

.editbut {
    width: 60px;
    display: block;
    position: absolute;
    float: right;
    top: 70px;
    right: 10px;
}

.editicon {
    height: 36px;
    position: relative; 
    margin-top: -48px;
    margin-left: 10px;
    float: left;
}

#file-upload {
    display: none;
}

/* -------- Menu Edit Page 1 --------- */

#menuedit1 {
    display: none;
}

#lightbox {
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: none;
}

#catselectbox {
    position: relative;
    z-index: 2;
    margin: auto;
    top: 10%;
    width: 75%;
    height: 80%;
    display: none;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 6px;
    border-color: #bd9ac7;
    border-radius: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menucategory {
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
}

.addremovecategory {
    width: 50%;
    padding: 0px;
    margin: 0;
    display: none;
    float: left;
    position: absolute;
    margin-top: 0px;
}

.menucatoverlay {
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0;
    background-color: #bd9ac7;
    opacity: 0.6;
    margin-top: -50px;
    display: block;
    float: left;
}

.categorycontainer {
    width: 50%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
}

.menucattext {
    font-family: Helvetica Neue;
    font-size: 18pt;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: -45px;
    position: relative;
    display: block;
    float: left;
}

.backbut {
    width: 60px;
    display: block;
    float: left;
    position: absolute;
    top: 70px;
    margin-left: 10px;
}

/* -------- Menu Edit Page 3 --------- */

#menuedit3 {
    display: none;
}

.editmenuitem {
    width: 35px;
    margin-top: -50px;
    margin-right: 10px;
    display: block;
    position: relative; 
    float: right;
}

.editmenuitemdone {
    width: 35px;
    margin-top: -50px;
    margin-right: 10px;
    display: block;
    position: relative; 
    float: right;
}

.removemenuitem {
    width: 35px;
    margin-top: -50px;
    margin-right: 55px;
    display: block;
    position: relative; 
    float: right;
}

.divider {
    height: 1px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
    background-color: #919191;
}

.menuitemprice {
    font-family: Helvetica Neue;
    font-size: 20pt;
    color: #FFFFFF;
    color: #FFFFFF;
    margin-top: -45px;
    margin-right: 60px;
    display: block;
    position: relative; 
    float: right;
}

.newmenuitemcont {
    height: 60px;
    width: 100%;
    padding: 0px;
    margin: 0;
    display: block;
    position: fixed;
    background-color: #bd9ac7;
    bottom: 0px;
}

.newmenuitemname {
    font-family: Arial;
    font-weight: bold;
    font-size: 18pt;
    padding-left: 5px;
    color: #755b7d;
    margin-left: 10px;
    width: 60%;
    height: 32px;
    display: block;
    position: fixed; 
    bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #755b7d;
    border-radius: 10px;
}

.newmenuitemprice {
    padding-left: 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18pt;
    color: #755b7d;
    height: 32px;
    width: 70px;
    display: block;
    position: fixed;  
    bottom: 10px;
    right: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: #755b7d;
    border-radius: 10px;
}

.editmenuitemname {
    font-family: Arial;
    font-weight: bold;
    font-size: 18pt;
    padding-left: 5px;
    color: #737373;
    width: 50%;
    height: 32px;
    bottom: 10px;
    margin-top: -40px;
    margin-left: 10px;
    position: relative; 
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #737373;
    border-radius: 10px;
}

.editmenuitemprice {
    padding-left: 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18pt;
    color: #737373;
    height: 32px;
    width: 70px;
    margin-top: -50px;
    position: relative;  
    float: right;
    right: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: #737373;
    border-radius: 10px;
}

.newmenuitemadd {
    width: 35px;
    display: block;
    position: fixed;  
    bottom: 12.5px;
    right: 10px;
}

#addbutton {
    display: none;
}

#editbutton {
    display: none;
}

.edititemform {
    display: none;
}


/* --------- Screen smaller than 500px ----------- */

@media only screen and (max-width: 500px) {
    
#orders {
    margin-top: 50px;
}

.menuitemimg {
    height: 40px;
}
    
.newmenuitemname {
    width: 45%;
    height: 24px;
    font-size: 16pt;
}

.newmenuitemprice {
    height: 24px;
    font-size: 16pt;
}
    
.editmenuitemname {
     width: 35%;
    height: 24px;
    font-size: 16pt;
}
    
.editmenuitemprice {
    height: 24px;
    font-size: 16pt;
}

#menubar {
    height: 50px;
}
    
.menucatoverlay {
    height: 40px;
    margin-top: -40px;
}
    
.menucattext {
    font-size: 18pt;
    margin-top: -35px;
}
    
#shopimage {
    margin-top: 50px;
}
    
}